{% load staticfiles %}

<form action="{% url 'trackme:register' %}" method="post">

{% csrf_token %}
<table>
<tr><td>username : </td><td><input name="username" id="username" /></td></tr>
<tr><td>password : </td><td><input name="password" type="secure" id="password" /></td></tr>
<tr><td>email : </td><td><input name="email" type="email" id="email"/></td></tr>
<tr><td>profile picture : </td><td><input name="profilePicture" type="file" id="profilePicture"/></td></tr>
<tr><td></td><td><input type="submit" value="register" /></td></tr>
</table>
</form>
